 
   /*
------------------------------------------
	Title: Lab Assignment #4 - style.css
	Author: Your Name 
	Date: 01/01/01
------------------------------------------ 
   */
   
h1 {
	color: rgb(233, 69, 0);
	font-family: Georgia, Times, serif;
}
